@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>
		Symulacja poszukiwania skarbu
        <br>
            Aplikacja demonstracyjna Sim Web
        </br>
    </h1>
    <p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>
    
    <p>Mapa typu torus.</p>
    <p>Sekwencja ruchów: <strong>dlrludluudlddulrlrrudduurrll</strong></p>
    <img src="/images/battle.png" alt="Symulacja" width="700" height="300">
</div>
